.btn_lightblue {
    background-color: var(--bs-info-bg-subtle);
    border-color: var(--bs-info-bg-subtle);
    color: var(--bs-info-text-emphasis);
}

.form-check-input:checked {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.form-check-input:focus {
    border-color: #CFF4FC;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #CFF4FC;

}

input[name="question2"],
input[name="question6pair1"],
input[name="question6pair2"],
input[name="question6pair3"],
input[name="question6pair4"] {
    display: none;
}

label:has(input[name="question2"]:checked) .flag-card_sizing {
    --bs-border-color: #0dcaf0;
    --bs-border-width: 3px;
}


label:has(input[name="question6pair1"]:checked) .two-choises-cards_sizing,
label:has(input[name="question6pair2"]:checked) .two-choises-cards_sizing,
label:has(input[name="question6pair3"]:checked) .two-choises-cards_sizing,
label:has(input[name="question6pair4"]:checked) .two-choises-cards_sizing {
    --bs-border-color: #0dcaf0;
    --bs-border-width: 3px;
}

h1 {
    font-weight: bold;
}

.btn {
    --bs-btn-font-weight: 700;
}

.question_sized {
    height: 100vh;
}

.answers-field_sized {
    width: 300px;
}

.answer-sized {
    width: 100%;
}

.flag-card_sizing {
    width: 136px;
    height: 90px;
}

.two-choises-cards_sizing {
    width: 136px;
    height: 50px;
}


.flag_sizing {
    width: 75px;
}


.cat-picture_sizing {
    width: 120px;
}

h1 {
    width: 300px;
}

p {
    max-width: 300px;
}

.breed-card_position {
    flex-direction: row;
}

.all-breeds-card_position {
   flex-direction: column;
}

.flag-card_sizing {
    margin: 0 0.5rem;
}

@media (min-width: 390px) {

    .flag-card_sizing {
        width: 152px;
        height: 100px;
    }

    .flag_sizing {
        width: 80px;
    }

    .cat-picture_sizing {
        width: 150px;
    }
}


@media(min-width: 1024px) {
    body {
        background-color: var(--bs-info-bg-subtle);
        padding-top: 152px;
       }

    .flag-cards_sizing {
        max-width: 60%;
        margin: 0 auto;
    }

       .flag-card_sizing {
        width: 225px;
    }
    .flag_sizing {
        width: 120px;
    }

    .cat-picture_sizing {
        width: 180px;
    }

    .question_sized {
        width: 960px;
        height: 688px;
        margin: auto;
        border-radius: 1rem;
        padding-top: 80px;
    }

    .question_bg-color {
        background-color: #ffffff ;   
    }
    h1 {
        width: 720px;
    }
    p {
        width: 720px;
    }

    .answers-field_sized {
        width: 720px;
    }

    .flag-card_sizing {
        width: 225px;
        height: 150px;
    }

    .breed-card_position {
        flex-direction: column;
    }

    .all-breeds-card_position {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cat-breed-form_size {
        min-width: 40%;
    }

    .two-choises-cards_sizing {
        width: 240px;
        height: 50px;
    }
}